@model IEnumerable<Attendance>

@{
    ViewData["Title"] = "Attendance";
}

<h1>Attendance</h1>

<p>
    <a asp-action="CheckIn" class="btn btn-info">Check In <i class='fas fa-sign-in-alt'></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>Check In Time</th>
            <th>Check Out Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Employee.FullName</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.CheckInTime</td>
                <td>@item.CheckOutTime</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AttendanceId" class="btn btn-warning"><i class="fa fa-edit text-white"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.AttendanceId" class="btn btn-danger"><i class="fa fa-trash text-white"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
