@model IEnumerable<Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New Project +</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.StartDate.ToString("d")</td>
                <td>@item.EndDate.ToString("d")</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-info"><i class="fa fa-info-circle"></i> Details</a> |
                    <a asp-action="AssignEmployees" asp-route-projectId="@item.ProjectId" class="btn btn-secondary"><i class="fa fa-user-plus"></i> Assign Employees</a>
                    <a asp-action="Edit" asp-route-id="@item.ProjectId" class="btn btn-warning"><i class="fa fa-edit"></i> </a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectId" class="btn btn-danger"><i class="fa fa-trash"></i> </a> |
                </td>
            </tr>
        }
    </tbody>
</table>
