@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p class="mt-2">
    <a asp-action="Create" class="btn btn-info">Create New Employee <i class="fa fa-user-plus"></i> </a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Department.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-warning"><i class="fa fa-edit text-white"></i> </a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger"><i class="fa fa-trash text-white"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>