@model IEnumerable<Leave>

@{
    ViewData["Title"] = "Leaves";
}

<h1>Leaves</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Request Leave <i class='fas fa-calendar-plus'></i></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Employee.FullName</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>@item.Reason</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LeaveId" class="btn btn-warning"><i class="fa fa-edit text-white"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.LeaveId" class="btn btn-danger"><i class="fa fa-trash text-white"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

